server:
  port: 8080

spring:
  devtools:
    enabled: true
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/orders
    username: root
    password:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

org:
  hibernate:
    dialect: MySQL8Dialect

logging:
  pattern:
    console: d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n
  level:
    org:
      hibernate:
        SQL: debug
        type:
          descriptor:
            sql:
              BasicBinder: TRACE
